PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/en2h_booking_db?schema=public"
JWT_SECRET="your-secure-access-secret-key"
JWT_REFRESH_SECRET="your-secure-refresh-secret-key"
JWT_EXPIRES_IN="15m"
